{% extends 'main.html' %}
{% load static %}
{% block content %}
    <h1>User Profile</h1>

    <div class="card mb-4">
        <div class="row g-0">
            <div class="col-2">
                {% if page_user.profile_pic %}
                    <img src="{{ page_user.profile_pic.url }}" height="100" width="100">
                {% else %}
                    <img src="{% static 'theBlog/images/default_pic.png' %}" class="img-thumbnail">
                {% endif %}
            </div>
            <div class="col-10">
                <div class="card-body">
                    <h3 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>
                    <p class="card-text">{{ page_user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}