{% extends 'main.html' %}
{% load static %}
{% block title %}
    | Create a new Blog Post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

        <h1>Add Blog Post</h1>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button><br><br>
            </form>
        </div>

        <script>
            var uid = "{{ user.id }}";
            document.getElementById("user_id").value = uid;
        </script>
    {% else %}
        <h1>You are not allowed here. (and you know why..)</h1>
    {% endif %}
{% endblock %}