{% extends 'main.html' %}
{% block title %}
    | Delete a Blog Category
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Delete a Category</h1><br><br>
        <h3>Delete : {{ post.name }}</h3>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong><br><br>
                <button class="btn btn-danger">Delete Category</button>
            </form>
        </div>
    {% else %}
        <h1>You are not allowed here. (and you know why..)</h1>
    {% endif %}
{% endblock %}