{% extends 'main.html' %}
{% load static %}
{% block title %} | Home{% endblock %}
{% block content %}
    <!--<h1>All Posts -
          <small> What you think put here</small>
        </h1>-->
        {% for post in object_list %}
            <article class="mu-blog-item">
                {% if post.header_image %}
                    <a href="{% url 'article-detail' post.pk %}"><img src="{{ post.header_image.url }}" width="100%" height="350"></a>
                {% endif %}
                <div class="mu-blog-item-content">
                    <ul class="mu-blog-meta">
                        <li>BY: <a href="{% url 'show_profile_page' post.author.profile.id %}"> {{ post.author.first_name }} {{ post.author.last_name }}</a>
                            - Category - <a href="{% url 'category' post.category %}"> {{ post.category }}</a> </li>
                        <li><a href="{% url 'add_comment' post.id %}"><i class="fa fa-comment-o"></i>{% if post.comments.count > 0 %}{{ post.comments.count }}{% else %}0{% endif %}</a></li>
                        {% comment %}{% if user.is_authenticated %}
                            {% if post.likes %}
                                <li><i class="fa fa-thumbs-up"></i>{{ post.likes.count }}</li>
                            {% else %}{% endcomment %}
                                <li><i class="fa fa-thumbs-o-up"></i>{{ post.likes.count }}</li>
                            {% comment %}{% endif %}
                        {% endif %}{% endcomment %}
                        <li><i class="fa fa-calendar-o"></i> {{ post.post_date }} </li>
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            <li>
                            <a href="{% url 'update_post' post.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="{% url 'delete_post' post.pk %}"><i class="fa fa-remove"></i> Delete</a></li>
                        {% endif %}
                    {% endif %}

                    </ul>
                    <h1 class="mu-blog-item-title"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.snippet|safe }}</p>
                    <a class="mu-blg-readmore-btn" href="{% url 'article-detail' post.pk %}">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </article>
        {% endfor %}
    <!-- Start paginatin -->
    {% if is_paginated %}
        <div class="justify-content-center">
        <nav aria-label="Page navigation example" class="mu-blog-pagination">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <h1> <a href="{{ request.path }}?page=1">&laquo; </a></h1>
                    </li>
                    <li class="page-item">
                        <h1><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            &lt;
                        </a></h1></li>

            {% endif %}
                <li class="page-item">
                    <h1>
                         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </h1>
                </li>
                    {% comment %}{% for n in loop_times %}
                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ n }}">{{ n }}</a></li>
                    {% endfor %}{% endcomment %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <h1><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            &gt;
                        </a></h1></li>
                    <li class="page-item">
                        <h1><a href="?page={{ page_obj.paginator.num_pages }}">  &raquo;</a></h1></li>
                {% endif %}
            </ul>
        </nav>
        </div>
    {% endif %}
    <!-- End pagination -->
{% endblock %}
{% comment %}
{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
  {% endcomment %}
{% block sidebar %}
    <div class="mu-sidebar-widget">
        <form class="mu-search-form">
            <input type="search" placeholder="Search">
            <button class="mu-search-submit-btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget mu-sidebar-social-widget">
        <h2 class="mu-sidebar-widget-title">Follow {{ user.first_name }} {{ user.last_name }} on</h2>
        <div class="mu-social-media">
            {% if user.profile.website_url %}
                <a target="_blank" href="{{ user.profile.website_url }}"><i class="fa fa-link"></i></a>
            {% endif %}
            {% if user.profile.facebook_url %}
                <a target="_blank" href="{{ user.profile.facebook_url }}"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if user.profile.twitter_url %}
                <a target="_blank" href="{{ user.profile.twitter_url }}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if user.profile.instagram_url %}
                <a target="_blank" href="{{ user.profile.instagram_url }}"><i class="fa fa-instagram"></i></a>
            {% endif %}
            {% if user.profile.pinterest_url %}
                <a target="_blank" href="{{ user.profile.pinterest_url }}"><i class="fa fa-pinterest-p"></i></a>
            {% endif %}
        </div>
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget">
        <h2 class="mu-sidebar-widget-title">Popular post</h2>
        <div class="mu-popular-content-widget">
            {% for pop in popular %}
            <div class="media">
            {% if pop.header_image %}
                <a href="#" class="mu-popular-post-img"><img src="{{ pop.header_image.url }}" alt="image"></a>
                {% else %}
                    <a href="#" class="mu-popular-post-img"><img src="{% static 'theBlog/images/blog-img-1.jpg' %}" alt="image"></a>
                {% endif %}
                <div class="media-body">
                    <ul class="mu-blog-meta">
                        <li>{{ pop.post_date.date }} </li>
                        <li><a href="#"><i class="fa fa-comment-o"></i>{% if pop.comments.count > 0 %}{{ pop.comments.count }}{% else %}0{% endif %}</a></li>
                        <li><i class="fa fa-thumbs-o-up"></i>{{ pop.likes.count }}</li>
                    </ul>
                    <h3><a href="#">{{ pop.title }}</a></h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget">
        <h2 class="mu-sidebar-widget-title">Blog archives</h2>
        {% regroup post_list by post_date.year as year_list %}
        <ul class="mu-sidebar-widget-nav">
            {% for year in year_list %}
                <li>{{ year.grouper }}
                {% regroup year.list by post_date.month as month_list %}
                    <ul>
                        {% for month in month_list %}
                            <li><a href="{% comment %}{% url 'blog:post_archive_month' year.grouper month.grouper %}{% endcomment %}">{{ month.list.0.post_date|date:'b' }} ({{ month.list|length }})</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% comment %}
        <ul class="mu-sidebar-widget-nav">
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>2017 (10)</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>2016 (25)</a>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>December</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>November</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>October</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>September</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>2015 (86)</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>2014 (105)</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>2013 (17)</a></li>
        </ul>
        {% endcomment %}
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget">
        <h2 class="mu-sidebar-widget-title">Catagories</h2>
        <ul class="mu-sidebar-widget-nav">
            {% for cat in cat_menu %}
                <li><a href="{% url 'category' cat.name %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget">
        <h2 class="mu-sidebar-widget-title">Tags</h2>
        <div class="mu-tags">
            <a href="#">Web Design</a>
            <a href="#">Ecommerce</a>
            <a href="#">Events</a>
            <a href="#">Marketing</a>
            <a href="#">UI</a>
            <a href="#">UX</a>
            <a href="#">Mobile app</a>
            <a href="#">Web Development</a>
            <a href="#">Graphics Design</a>
            <a href="#">SEO</a>
        </div>
    </div>
    <!-- End single widget -->
    <!-- start Single Widget -->
    <div class="mu-sidebar-widget mu-sidebar-subscribe-widget">
        <h2 class="mu-sidebar-widget-title">News subscribe</h2>
        <form class="mu-subscribe-form">
            <input placeholder="Write your e-mail here" type="email">
            <button class="mu-subscribe-btn">Subscribe</button>
        </form>
    </div>
{% endblock %}


<div class="card mb-4">
                {% if post.header_image %}
                    <img class="card-img-top" src="{{ post.header_image.url }}" height="300" width="750">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} - <small><small> <a href="{% url 'category' post.category %}"> {{ post.category }}</a></small></small></h2>
                    <p class="card-text">{{ post.snippet }}</p>
                    <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.post_date }} by
                    {% if user.is_authenticated %}
                        <a href="{% url 'show_profile_page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                    {% else %}
                        {{ post.author.first_name }} {{ post.author.last_name }}
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a>
                            <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
                        {% endif %}
                    {% endif %}
                </div>
            </div>