{% extends 'main.html' %}
{% block title %}
    | Update a Blog Post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Update a Blog</h1>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update Post</button><br><br>
            </form>
        </div>
    {% else %}
        <h1>You are not allowed here. (and you know why..)</h1>
    {% endif %}

{% endblock %}